@tailwind base;
@tailwind components;
@tailwind utilities;
 

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}


.dividerline>:not([hidden])~:not([hidden]) {
  border-color: #e5e5e580
}

.dividerline:is(.dark *)>:not([hidden])~:not([hidden]) {
  border-color: #40404080;
}